body {
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0;
  background-color: wheat;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: black; */
  color: white;
}
header span:first-child {
  font-size: 4rem;
}
header span:last-child {
  color: yellow;
  font-style: italic;
  margin-top: 0.5vh;
}
.container {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.menu {
  width: 100%;
  height: 50px;
  background-color: yellow;
  display: flex;
}
.item {
  flex-grow: 1;
  transition: all 0.5s linear;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}
.item:hover {
  background-color: black;
  color: yellow;
}
.posts {
  height: auto;
  padding: 2rem;
}
.post {
  background-color: white;
  margin-bottom: 1rem;
}
.post-name {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: yellow;
  color: black;
  text-align: center;
}
.post-description {
  padding: 0 40px 20px 30px;
}
.post img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 810px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    justify-content: space-between;
  }
  .post {
    flex-basis: 49%;
    border: 1px solid black;
  }
  .post img {
    height: 500px;
    object-fit: 100%;
  }
}
