body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 52, 85);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 40%;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* background-color: black; */
  color: white;
}
.container {
  margin: 0 auto;
  width: 77vw;
  height: 300px;
}
h3 {
  color: white;
  font-size: 3rem;
}

.menu-item {
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 50px;
  /* justify-content: spa; */
}
.item {
  flex-grow: 1;
  display: flex;
  background-color: #6a6a6a;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s linear;
  font-family: "Times New Roman", Times, serif;
}
.item:hover {
  background-color: #9a9a9a;
}
