.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-top: 30px;
}

.target {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: flash;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  margin-bottom: 30px;
  /* animation-fill-mode: both; */
}

@keyframes flash {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-20px);
  }
}

/* ////// */

.cloud1 {
  width: 250px;
  height: 250px;

  position: absolute;
  left: -200px;
}
.cloud1 img {
  object-fit: contain;
  width: 200px;
  height: 100%;
  animation-name: ride;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ride {
  form {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(1400px);
  }
}
.cloud2 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -200px;
  top: 300px;
}
.cloud2 img {
  object-fit: contain;
  width: 200px;
  height: 100%;
  animation-name: ride2;
  animation-duration: 25s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ride2 {
  form {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(1400px);
  }
}
