.target {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: myFirst 3 4s ease-in;
  animation-direction: alternate;
  /* animation-fill-mode: both; */
}
@keyframes myFirst {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }

  30% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(400px);
  }

  75% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }

  /* from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(400px);
  } */
}
