.target {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: myFirst 1 1s ease;
  animation-direction: reverse;
  /* animation-fill-mode: both; */
}
@keyframes myFirst {
  /* 0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(400px);
  }

  75% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  } */

  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(400px);
  }
}
