/* .box {
  width: 100px;
  height: 100px;
  background-color: red;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  transition: transform;
  transform-origin: top left;

  transition-duration: 2s;
}
.box:hover {
  transform: rotate(200deg);
}
@keyframes translate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: rgb(15, 52, 85);
  flex-direction: column;
}

.first {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 30px 60px;
  font-size: 20px;
  border: 5px solid white;
  overflow: hidden;
  margin-bottom: 60px;
}
.first::before {
  content: "";
  background-color: red;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;

  transition: width 1s;
}
.first:hover::before {
  width: 100%;
}
/* //// */

.second {
  text-decoration: none;
  font-size: 20px;
  padding: 30px 60px;
  color: white;
  border: 5px solid white;
  position: relative;
}

.second::before {
  width: 100%;
  height: 100%;
  background-color: #797979;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotateX(90deg);
  transition: transform 1s;
}

.second:hover::before {
  transform: rotateX(0deg);
}

.second::after {
  width: 100%;
  height: 100%;
  background-color: #797979;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  transition: transform 1s;
  z-index: -1;
}
.second:hover::after {
  transform: rotateY(0deg);
}

/* //// */

.third {
  margin-top: 70px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 5px solid white;
  padding: 30px 60px;
  position: relative;
  /* transition: all 1s; */
  overflow: hidden;
  margin-bottom: 50px;
}

.third::before {
  width: 100%;
  height: 100%;
  content: "";
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  transform: translateY(100%);
  transition: all 1s;
  position: absolute;
}

.third:hover::before {
  transform: translateY(0);
  content: "Thank You";
}

/* ///// */

.forth {
  padding: 30px 60px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 5px solid white;
  position: relative;
  transition: background-color 3s;
  overflow: hidden;
  margin-bottom: 30px;
}
.forth:hover {
  background-color: #f44336;
}

.forth::before {
  width: 100%;
  height: 50px;
  background-color: white;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  transition: all 1s;
  transform: translateX(-100%) rotate(60deg);
}
.forth:hover::before {
  transform: translateX(100%) rotate(60deg);
}

/* //// */

.fifth {
  padding: 30px 60px;
  color: transparent;
  text-decoration: none;
  font-size: 20px;
  border: 5px solid white;
  position: relative;
  margin-bottom: 60px;
  transition: transform 1s;
  overflow: hidden;
}
.fifth::before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  content: "Thank You";
  background-color: #f44336;
  transition: transform 1s;
  color: white;
}
.fifth::after {
  width: 100%;
  height: 100%;
  background-color: #f44336;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transform: translate(-100%, 100%);
  content: "My Dear";
  transition: transform 1s;
  color: white;
}
.fifth:hover {
  content: "";
}
.fifth:hover::before {
  transform: translate(100%, -100%);
}
.fifth:hover::after {
  transform: translate(0, 0);
}

/* ///// */
.sixth {
  text-decoration: none;
  padding: 30px 60px;
  border: 5px solid white;
  color: white;
  background-color: #f44336;
  font-size: 20px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.sixth::before {
  width: 100%;
  height: 100%;
  color: white;
  content: "Thank You";
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  position: absolute;
  transform: scale(5);
  opacity: 0;
  transition: all 1s;
}
.sixth:hover::before {
  transform: scale(1);
  opacity: 1;
}
.sixth:hover {
  color: transparent;
}

/* //// */
.menu {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  padding: 10px 30px;
}
.menu div {
  padding: 10px 30px;
  position: relative;
}
.menu div span {
  width: 25%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  transform: scale(0) rotateY(90deg);
  transform-origin: top;
  transition: transform 0.3s;
}
.menu div:hover {
  color: white;
}
.menu div:hover span {
  transform: scale(1) rotateY(0deg);
}
.menu div span:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}
.menu div span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}
.menu div span:nth-child(4) {
  left: 75%;
  transition-delay: 0.45s;
}

.btn {
  margin-top: 90px;
  padding: 20px 40px;
  background: none;
  border: 1px solid tomato;
  position: relative;
  color: tomato;
  overflow: hidden;
  transition: color;
}
.btn:hover {
  color: white;
}
.btn::before {
  width: 100%;
  height: 0;
  background-color: tomato;
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  border-radius: 50% 50% 0% 0%;
  transition: all 0.5s;
  z-index: -1;
}

.btn:hover::before {
  height: 190%;
}
